:root {
  --primary: #00BD56;
  --secondary: #FFFFFF;

}

body {
  background-color: black;
}

.volSlider {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
}

/*progress support*/
.volSlider.sliderProgress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 14px + var(--ratio) * (100% - 14px));
}

.volSlider:focus {
  outline: none;
}

/*webkit*/
.volSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--primary);
  border: none;
  box-shadow: none;
  margin-top: calc(4px * 0.5 - 14px * 0.5);
}

.volSlider::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 0;
  background: var(--secondary);
  box-shadow: none;
}

.volSlider::-webkit-slider-thumb:hover {
  background: var(--primary);
}

.volSlider:hover::-webkit-slider-runnable-track {
  background: var(--secondary);
}

.volSlider::-webkit-slider-thumb:active {
  background: var(--primary);
}

.volSlider:active::-webkit-slider-runnable-track {
  background: var(--secondary);
}

.volSlider.sliderProgress::-webkit-slider-runnable-track {
  background: linear-gradient(var(--primary), var(--primary)) 0/var(--sx) 100% no-repeat, var(--secondary);
}

.volSlider.sliderProgress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(var(--primary), var(--primary)) 0/var(--sx) 100% no-repeat, var(--secondary);
}

.volSlider.sliderProgress:active::-webkit-slider-runnable-track {
  background: linear-gradient(var(--primary), var(--primary)) 0/var(--sx) 100% no-repeat, var(--secondary);
}

/*mozilla*/
.volSlider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--primary);
  border: none;
  box-shadow: none;
}

.volSlider::-moz-range-track {
  height: 4px;
  border: none;
  border-radius: 0;
  background: var(--secondary);
  box-shadow: none;
}

.volSlider::-moz-range-thumb:hover {
  background: var(--primary);
}

.volSlider:hover::-moz-range-track {
  background: var(--secondary);
}

.volSlider::-moz-range-thumb:active {
  background: var(--primary);
}

.volSlider:active::-moz-range-track {
  background: var(--secondary);
}

.volSlider.sliderProgress::-moz-range-track {
  background: linear-gradient(var(--primary), var(--primary)) 0/var(--sx) 100% no-repeat, var(--secondary);
}

.volSlider.sliderProgress:hover::-moz-range-track {
  background: linear-gradient(var(--primary), var(--primary)) 0/var(--sx) 100% no-repeat, var(--secondary);
}

.volSlider.sliderProgress:active::-moz-range-track {
  background: linear-gradient(var(--primary), var(--primary)) 0/var(--sx) 100% no-repeat, var(--secondary);
}

/*ms*/
.volSlider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

.volSlider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

.volSlider::-ms-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--primary);
  border: none;
  box-shadow: none;
  margin-top: 0;
  box-sizing: border-box;
}

.volSlider::-ms-track {
  height: 4px;
  border-radius: 0;
  background: var(--secondary);
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

.volSlider::-ms-thumb:hover {
  background: var(--primary);
}

.volSlider:hover::-ms-track {
  background: var(--secondary);
}

.volSlider::-ms-thumb:active {
  background: var(--primary);
}

.volSlider:active::-ms-track {
  background: var(--secondary);
}

.volSlider.sliderProgress::-ms-fill-lower {
  height: 4px;
  border-radius: 0px 0 0 0px;
  margin: -undefined 0 -undefined -undefined;
  background: var(--primary);
  border: none;
  border-right-width: 0;
}

.volSlider.sliderProgress:hover::-ms-fill-lower {
  background: var(--primary);
}

.volSlider.sliderProgress:active::-ms-fill-lower {
  background: var(--primary);
}